---
import { RippleContainer } from 'sparkle-ripple';
import ListLinkItem from '../components/ListLinkItem.tsx';
---
<script>
const pathupdate = () => {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry)=>{
            (entry.target as HTMLDivElement).style.opacity = (entry.intersectionRatio - 0.6 * (1 - entry.intersectionRatio)).toString()
        })
    },
        {
            root: document.querySelector('#article_container'),
            rootMargin: "0px",
            threshold: [1, 0.95, 0.90, 0.85, 0.80, 0.75, 0.70, 0.65, 0.60, 0.5, 0.45, 0.40, 0.35, 0.30, 0.25, 0.20, 0.15, 0.10, 0.05, 0]
        }
    )
    document.querySelectorAll('.top_bigIntro').forEach((target)=> {
        observer.observe(target);
    })
}
pathupdate()

document.addEventListener('swup:page:view', pathupdate)
</script>


<div class="top_bigIntro">
    <span class="title_top">About</span>
</div>
<div class="top_hero">
    <RippleContainer className="RippleContainer" client:load></RippleContainer>
    <div class="container">
        <h1>✨ sparkle-ripple</h1>
        <p>Bring Material 3(You) Ripple Effect to your <b>React</b> projects!</p>
    </div>
</div>
<h2>Library</h2>
<ListLinkItem
    iconifyIcon="simple-icons:github"
    href="https://github.com/yuyake-litrain/sparkle-ripple"
    itemTitle="Github Repository"
    itemDesc="yuyake-litrain/sparkle-ripple: Bring Material 3(You) Ripple Effect to your React projects!"
    client:visible />
<ListLinkItem
    iconifyIcon="simple-icons:npm"
    href="https://www.npmjs.com/package/sparkle-ripple"
    itemTitle="NPM Registry"
    itemDesc="sparkle-ripple"
    client:visible />
<ListLinkItem
    iconifyIcon="material-symbols:person-outline-rounded"
    href="https://github.com/yuyake-litrain"
    itemTitle="Author"
    itemDesc="yuyake-litrain (Litrain)"
    client:visible />
<ListLinkItem
    iconifyIcon="material-symbols:person-outline-rounded"
    href="https://github.com/yuyake-litrain"
    itemTitle="Contributor"
    itemDesc="yuyake-litrain (Litrain)"
    client:visible />
<ListLinkItem
    href="https://github.com/yuyake-litrain/sparkle-ripple"
    itemTitle="Pull Requests/Issues are welcome!"
    client:visible />


<h2>This Website</h2>
<ListLinkItem
    iconifyIcon="simple-icons:github"
    href="https://github.com/yuyake-litrain/sparkle-ripple-web"
    itemTitle="Github Repository"
    itemDesc="yuyake-litrain/sparkle-ripple-web: Website for the sparkle-ripple library"
    client:visible />
<ListLinkItem
    iconifyIcon="material-symbols:person-outline-rounded"
    href="https://github.com/yuyake-litrain"
    itemTitle="Author"
    itemDesc="yuyake-litrain (Litrain)"
    client:visible />
<ListLinkItem
    iconifyIcon="material-symbols:person-outline-rounded"
    href="https://github.com/yuyake-litrain"
    itemTitle="Contributor"
    itemDesc="yuyake-litrain (Litrain)"
    client:visible />
<ListLinkItem
    href="https://github.com/yuyake-litrain/sparkle-ripple-web"
    itemTitle="Pull Requests/Issues are welcome!"
    client:visible />

<div class="bottom">
    This site was built with&nbsp;
    <a href="https://astro.build/">
        <RippleContainer className="RippleContainer" client:load>Astro</RippleContainer>
    </a>
</div>

<style>
h2, h3 {
    margin-left: 30px;
}
.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ffffff33;
    margin-top: 20px;
    padding: 20px 0;
}
a {
    color: #f7ca9a;
    &:active {
        text-decoration: none;
    }
}
h2 {
    color: #f7ca9a;
    font-size: 1rem;
    font-weight: 600;
    padding-top: 30px;
}
.top_hero {
    background: #ffffff20;
    margin: 60px 30px 0px 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    & h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    & :global(.RippleContainer) {
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    & .container {
        padding: 20px 50px;
    }
}
.top_bigIntro {
    padding-top: 80px;
    margin: 0 30px 50px 30px;
}
.title_top {
    font-size: 3rem;
    font-weight: 500;
}
</style>
