.rippleContainer {
  width: fit-content;
  padding: 10px;
  color: #f7ca9a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.icon {
  font-size: 2rem;
}

a.link {
  display: block;
  text-decoration: none;
  width: fit-content;
}
