.rippleContainer {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  gap: 20px;
  & .icon {
    flex-shrink: 0;
  }
  & .descContainer {
    display: flex;
    gap: 5px;
    flex-direction: column;
    & span {
      &.title {
        font-size: 1.3rem;
        line-height: 1.6rem;
      }
      &.desc {
        color: #ffffffcc;
      }
    }
  }
}

.icon {
  font-size: 1.7rem;
}

a.link {
  display: block;
  text-decoration: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
