.ripple_container {
  flex-direction: column;
  user-select: none;
  width: 100%;
  height: 300px;
  display: flex;
  font-size: 20px;
  background: #3b3528;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 20px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: visible;
}

.componentName {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.confettiOrigin {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: visible;
}

.textElements {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}
