.rippleContainer {
  width: fit-content;
  color: #f7ca9a;
  background: #5c4b39;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 12px 24px;
}

.icon {
  font-size: 2rem;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
