.rippleContainer {
  color: white;
  height: 75px;
  display: flex;
  align-items: center;
  width: auto;
  border-radius: 9999px;
  background: #4b4640;
  margin: 25px 0;
}

.icon {
  font-size: 2rem;
  margin: 0 1.5rem;
}

.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  & span {
    font-size: 1.4rem;
    font-weight: 500;
  }

  & p {
    margin: 0;
    font-size: 0.85rem;
    color: #ffffffdd;
  }
}
