.rippleContainer {
  color: white;
  height: 90px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background: #423629;
}

.link:global(.selected) .rippleContainer {
  background: #2e251c;
}

.icon {
  font-size: 2rem;
  margin: 0 1.5rem;
}

.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  & span {
    font-size: 1.4rem;
    font-weight: 400;
  }

  & p {
    margin: 0;
    font-size: 0.85rem;
    color: #ffffffdd;
  }
}

.link {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
